a {
    color: #000000;
}

a:hover {
    cursor: pointer;
}

body {
    background: lightskyblue;
    padding: 0;
    margin: 0;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main {
    margin-top: 80px;
    padding: 0 10px;
    flex-grow: 1;
}

.footer {
    height: 50px;
    align-items: center;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.footer__title a {
    color: #000000;
}


.list {
    max-width: 800px;
    margin: 0 auto 25px auto;
}

.list__title {
    text-align: center;
    border-bottom: 1px solid #000;
}

.user__wrap {
    width: 25%;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user.user__details {
    margin: 40px auto 0 auto;
    max-width: 500px;
}

.user__details {
    flex-direction: row;
    align-items: start;
    margin-left: 20px;
}

.button {
    background: none;
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 9px;
    margin-left: auto;
    display: block;
}

.button:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.user__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    color: #000000;
}

.user__link:hover {
    background: rgba(255, 255, 255, 0.3);
}

.user img {
    margin-bottom: 10px;
}

.more .user {
    margin: 10px 10px;
}

.user .field {
    display: flex;
}

.field__name {
    margin-right: 20px;
    min-width: 60px;
}

.list {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.list__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list__showMore {
    display: block;
    padding: 7px 13px;
    margin: 30px auto 0 auto;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.list__showMore:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    width: 100%;
}

.about__information {
    max-width: 700px;
    line-height: 20px;
}

.about__author {
    text-align: center;
}

.about__links a {
    font-weight: bold;
}

.about__links a:first-child {
    margin-right: 20px;
}